{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
	<div class="abs myCodePage">
        	<div class="innerDiv">
				
					<ul class="myCode myCode1">
                    	{% for form in forms[0] %}
							<li>{{ form.code.code }}</li>
						{% endfor %}
                    </ul>
                    <ul class="myCode myCode2">
                    	{% for form in forms[1] %}
							<li>{{ form.code.code }}</li>
						{% endfor %}
                    </ul>
					
                    <a href="http://www.freepeople.cn/qixi-ailian-teji/?cm_mmc=Weixin-_-SM_China-_-2015Q3-_-150819_interactivecampaign/" class="abs endNewBtn1"><img src="{{ asset('assets/default/images/endBtn1.png') }}"></a>
                    <a href="{{ url('_index') }}" class="abs endNewBtn2"><img src="{{ asset('assets/default/images/endBtn2.png') }}"></a>
					
					<a href="javascript:void(0);" onClick="showPop('Rule');" class="formBtn2"><img src="{{ asset('assets/default/images/formBtn2.png') }}"></a>
                    <img src="{{ asset('assets/default/images/formWWW.png') }}" class="formWWW">
            </div>
        </div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function(){
		});
	</script>
{% endblock %}
{% block bkgImg %}endBg.jpg{% endblock %}