{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
	<div class="abs myCodePage">
        	<div class="innerDiv">
				<div class="qcBlock" style=" text-align:center;">
					<img src="{{ asset('assets/default/images/endQc.png') }}" style="display:block; padding:355px 0 0 148px;">
				</div>
            	<ul class="myCode">
            	{% for form in forms %}
                	<li>{{ form.code.code }}</li>
                {% endfor %}
                </ul>
                    <a href="http://www.freepeople.cn/qixi-ailian-teji/?cm_mmc=Weixin-_-SM_China-_-2015Q3-_-150819_interactivecampaign/" class="abs endNewBtn1"><img src="{{ asset('assets/default/images/endBtn1.png') }}"></a>
                    <a href="{{ url('_index') }}" class="abs endNewBtn2"><img src="{{ asset('assets/default/images/endBtn2.png') }}"></a>
            </div>
        </div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function(){
		});
	</script>
{% endblock %}
{% block bkgImg %}endBg.jpg{% endblock %}