{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
	<img src="{{ asset('assets/default/images/indexImg1.png') }}" class="abs indexImg1" style="display:none;">
	<img src="{{ asset('assets/default/images/indexImg2.png') }}" class="abs indexImg2" style="display:none;">
	<img src="{{ asset('assets/default/images/indexImg3.png') }}" class="abs indexImg3" style="display:none;">
	<a href="{{ url('_test') }}" class="abs indexBtn1" style="display:none;"><img src="{{ asset('assets/default/images/indexBtn1.png') }}"></a>
	<a href="javascript:void(0);" onClick="showPop('Rule');" class="abs indexBtn2"><img src="{{ asset('assets/default/images/indexBtn2.png') }}"></a>
	<img src="{{ asset('assets/default/images/indexWWW.png') }}" class="abs indexWWW">
	<a href="{{ url('_codes') }}" class="abs indexBtn3"><img src="{{ asset('assets/default/images/indexBtn3.png') }}"></a>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
	window.onload=winOnload;
	function winOnload(){
		indexAct();
	}
	function indexAct(){
		$('.indexImg1').addClass('indexAct1').show();
		$('.indexImg2').addClass('indexAct2').show();
		$('.indexBtn1').addClass('indexAct3').show();
		$('.indexImg3').addClass('indexAct4').show();
	}
</script>
{% endblock %}