{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
	<div class="abs endPage{{ form.type }}">
            	<div class="innerDiv">
                	<label class="endCode">{{ form.code.code }}</label>
                	<img src="{{ asset('assets/default/images/endQc.png') }}" class="abs endQc">
                    <a href="#" class="abs endBtn1"><img src="{{ asset('assets/default/images/endBtn1.png') }}"></a>
                    <a href="{{ url('_index') }}" class="abs endBtn2"><img src="{{ asset('assets/default/images/endBtn2.png') }}"></a>
                </div>
            </div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function(){
		});
	</script>
{% endblock %}
{% block bkgImg %}endBg.jpg{% endblock %}